* {
  color: var(--text-color);
}

body{
  background-color: var(--primary-color) !important;
}

.dark-mode-switch{
  background-color: var(--secondary-color);
  width:auto;
  border-radius: 10px;
  float: right;
  padding: 10px;
  cursor: pointer;
}

.disabled{
  opacity: 30%;
}

a {
  text-decoration-line: none !important;
}

input[type="range"]::-moz-range-progress {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: var(--text-color) !important;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(17, 17, 17, 0.45) !important;
}

.btn-back:focus {
  box-shadow: 0 0 0 0 white !important;
}

.form-range::-webkit-slider-thumb {
  background: var(--text-color) !important;
}

.gray {
  text-transform: uppercase;
  font-weight: 600 !important;
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}

.gray_outline {
  border-color: #6c6c6c !important;
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important
}

.btn-check:checked + .gray_outline {
  background-color: var(--text-color) !important;
  color: var(--primary-color) !important;
}

.btn-close{
  color:var(--text-color);
}

.row-option .btn-check:focus + .btn,
.row-option .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(82, 82, 82, 0.45);
}

.board-stats {
  font-weight: 500;
  color: var(--text-color);
}

.gameboard td {
  width: 12.5%;
  padding-bottom: 12.5%;
  position: relative;
}

.gameboard tr:nth-child(even) > td:nth-child(even),
.gameboard tr:nth-child(odd) > td:nth-child(odd) {
  background: #ccc;
}

.gameboard tr:nth-child(odd) > td:nth-child(even),
.gameboard tr:nth-child(even) > td:nth-child(odd) {
  background: rgb(32, 131, 53);
}

.pawn {
  position: absolute;
  margin: 10%;
  height: 80%;
  width: 80%;
  z-index: 50;
  background-color: black;
  -webkit-mask: url(../resources/img/circle.svg) no-repeat center;
  mask: url(../resources/img/circle.svg) no-repeat center;
}

/* 
    pawn colors and animations
*/

.black {
  background-color: rgb(26, 26, 26);
  border-radius: 50%;
}

.white {
  background-color: white;
  border: 3px solid #919191;
  border-radius: 50%;
}

.red {
  background-color: #dc3545;
  border: 3px solid #660e17;
  border-radius: 50%;
}

.blue {
  background-color: #0d6efd;
  border: 3px solid #0c49a3;
  border-radius: 50%;
}

.animate-move {
  transition: transform 1s linear;
  z-index: 501;
}

.fader {
  transition: opacity 0.8s linear;
  opacity: 0;
}

.promotion {
  transition: background-color 1s
}
/* 
    log box with scrollbar on game page
*/

.log-box {
  width: 100%;
  height: 22vh;
  min-height: 300px;
  background-color: var(--secondary-color);
  border-radius: 6px;
}

.log-box .hr-line {
  height: 2px;
  margin-left: 5%;
}

.log-box .content {
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
  overflow-y: scroll;
  height: 50%;
  background-color: var(--primary-color)
}

.log-box .last-status{
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
  height: 15%;
  background-color: var(--primary-color)
}


.card p {
  margin-bottom: 0;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: var(--primary-color);
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a8a8a8;
}

/* toasts */

.attention {
  background-color: rgb(226, 73, 73) !important;
  color: white !important;
}

.toast-body {
  color: var(--primary-color);
}

.modal-content {
  background-color: var(--secondary-color) !important;
}