{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/style.css">
<head>
    <title>Game - Robot checkers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/static/resources/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/resources/bootstrap-icons/bootstrap-icons.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="container-xl mt-3">
        <div class="dark-mode-switch" onclick="switchTheme()"><i class="bi bi-moon-fill me-1 disabled"></i> | <i class="bi bi-brightness-high-fill ms-1"></i></div>
        <div class="row mb-5">
          <div class="col-6">
            <h2 class="ms-3">Rozgrywka</h2>
          </div>
          <div class="col-6 text-end">
              <button type="button" class="btn btn-back" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <h4 class="me-3"><i class="bi bi-arrow-left"></i> powrót do menu</h4>
              </button>
          </div>
        </div>
  
        <div class="row align-items-center mx-auto mt-5">
          <div class="col-lg-7">
            
            <div class="board-stats row">
              <span class="col-5 col-lg-4">
                <span id="connection-led" style="width:auto">Połączono</span>
              </span>
              <div class="col-7 col-lg-8 text-end">
                <span>zbite białe: <span id="taken-white">0</span>,</span>
                <span>zbite czarne: <span id="taken-black">0</span></span>
              </div>
            </div>
  
            <table id="gameboard" class="custom-table gameboard col-12"></table>
  
            <div class="legenda mt-2">
              Legenda:
              <span class="badge bg-light text-dark border" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Gracz posiadający białe pionki, ma niebieskie damki">białe</span>
              <span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Niebieskie damki należą do białych pionków">białe damki</span>
              <span class="badge bg-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Gracz posiadający czarne pionki, ma czerwone damki">czarne</span>
              <span class="badge bg-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Czerwone damki należą do czarnych pionków">czarne damki</span>
            </div>
          </div>
  
          <div class="col-lg-5 col-xl-4 offset-xl-1">
            <hr width="98%" class="hr-line ps-1 d-block d-md-none" />
            <div class="game-info">
              <div class="turn">
                <span>Tura:</span><h4>0</h4>
              </div>
              <div class="whos-move mt-3">
                <span>Kto wykonuje ruch?</span><h4></h4>
              </div>
            </div>
  
            <div class="log-box mt-md-4 d-none d-md-block">
              <div class="col-12 mt-3 me-3">
                <div class="float-end mt-2 me-3 ps-2 pe-2" style="background-color: var(--primary-color); border-radius: 5px;">
                  <input type="checkbox" name="autoscroll-log-box" checked/> <span class="text-end"> Autoscroll</span>
                </div>
              <h4 class="pt-2 ps-4">Rejestr zdarzeń</h4>
              </div>
              <div class="card content scrollbar">
                <div class="card-body pe-0"></div>
              </div>
              <h5 class="col-12 pt-2 ps-4">Ostatni status</h5>
              <div class="last-status card">
                <div class='card-body pt-2'>Witaj w grze</div>                
              </div>
            </div>
            <div class="row mt-3 mt-lg-5">
              <button id="startStopRobotButton" type="button" class="btn btn-lg gray" onclick="toggleStartStopRobot()">Zatrzymaj robota</button>
              <button type="button" class="btn btn-lg mt-4 gray" onclick="sendUserAction('end_game')">Zakończ grę</button>
            </div>

          </div>
        </div>
      </div>
  
      <!-- START Toast -->
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="attention toast-header">
          <strong class="me-auto text-white toast-timestamp">UWAGA</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
      </div>

      <div class="toast-container position-absolute top-0 start-0 p-3" style="z-index: 11">

      </div>
      <!-- END Toast -->
  
      <footer>
        <div class="text-center mt-4">
          <span>Autorzy: Hubert Solecki, Maciej Torhan, Łukasz Szarafin</span>
        </div>
      </footer>
  
      <!-- Modals -->
  
      <!-- Exit game modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Powrót do menu</h5>
                  <button class="btn-close" style="background: transparent;" type="button" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
              </div>
              <div class="modal-body">
              <p class="mb-0">Gra zostanie przerwana i rozgrywka zakończona.</p>
              <p>Czy na pewno chcesz sie cofnąć do menu głównego?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn gray_outline" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-secondary" onclick="sendUserAction('end_game');window.location.href='/'">Tak, chce zakończyć</button>
              </div>
          </div>
          </div>
      </div>
      <!-- END Exit game modal -->
  
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/themeMode.js"></script>
    <script>
      initBoard();
    </script>    
</body>
</html>
