{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/css/style.css"> 

<head>
    <title>Robot checkers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="shortcut icon" href="/static/resources/img/favicon.ico"/>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/> -->
    <link rel="stylesheet" href="/static/resources/bootstrap-icons/bootstrap-icons.css"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="container mt-5">
        <div class="dark-mode-switch" onclick="switchTheme()"><i class="bi bi-moon-fill me-1 disabled"></i> | <i class="bi bi-brightness-high-fill ms-1"></i></div>
        <div class="row mb-5">
            <div class="col-6">
                <h1 class="ms-2">Checkers</h1>
            </div>
            <div class="col-6 text-end">
                <h2 class="me-2">Menu</h2>
            </div>
        </div>

        <div class="row align-items-center mx-auto mt-3">
            <div class="col-md-6 order-md-1 pb-3">
                <div class="col-md-9 col-7 mx-auto">
                    <img class="mx-auto" src="/static/resources/img/main_menu_image.svg" width="100%" alt="main menu logo" />
                </div>
            </div>

            <div class="col-md-6 order-md-0 mt-5 mt-md-0">
                <div class="d-grid gap-4">
                    Po wciśnięciu poniższego przycisku, wywietli Ci się menu z ustawieniami. 
                    Po zaakceptowaniu wszystkich opcji robot automatycznie przystąpi do rozłożenia pionków na planszy.
                    Gdyby jednak potrzebował z czymś pomocy da Ci znać, także obserwuj komunikaty pojawiające się na ekranie. 
                    <strong>Miłej gry!</strong>
                    <button type="button" class="btn btn-lg p-md-3 gray" data-bs-toggle="modal" data-bs-target="#optionsModal">
                        Zagraj
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top>
        <div style="height:3rem"></div>
        <div class="text-center">
            <span>Autorzy: Hubert Solecki, Maciej Torhan, Łukasz Szarafin</span>
        </div>
    </footer>

    <!-- modal: game settings -->
    <div class="modal fade" id="optionsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
    aria-labelledby="staticSaveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticSaveLabel">Wybierz opcje rozgrywki</h5>
                    <button class="btn-close" style="background: transparent;" type="button" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
                </div>
               
                <div class="modal-body">
                    <form class="row g-4" action="" method="">
                        <div class="col-md-10 row-option">
                            <div class="col-12 mb-2">Kto wykonuje pierwszy ruch?</div>        
                            <input type="radio" class="btn-check" name="start_mode" id="success-outlined" autocomplete="off" value="robot">
                            <label class="btn gray_outline me-2" for="success-outlined">Robot</label>        
                            <input type="radio" class="btn-check" name="start_mode" id="danger-outlined" autocomplete="off" value="player">
                            <label class="btn gray_outline me-2" for="danger-outlined">Gracz</label>        
                            <input type="radio" class="btn-check" name="start_mode" id="random-outlined" autocomplete="off" value="random" checked>
                            <label class="btn gray_outline" for="random-outlined">Losowo</label>
                        </div>
            
                        <div class="col-12 row-option">
                            <div class="col-12 mb-2">Poziom trudności rozgrywki?</div>                        
                            <label for="difficulty" class="form-label">zakres od łatwa (lewo) do najtrudniejsza (prawo)</label>
                            <input type="range" class="form-range" min="1" max="10" id="difficulty" name="difficulty" value=2>
                            <div id="difficulty-label">MonteCarlo 1</div>                            
                        </div>

                        <div class="col-md-10 row-option">
                            <div class="col-12 mb-2">Kto rozkłada pionki przed rozpoczeciem gry?</div>
                            <input type="radio" class="btn-check" name="automatic_pawns_placement_on_start" id="success-outlined-p" autocomplete="on" value="True" checked>
                            <label class="btn gray_outline me-2" for="success-outlined-p">Robot</label>
                            <input type="radio" class="btn-check" name="automatic_pawns_placement_on_start" id="danger-outlined-p" autocomplete="off" value="False">
                            <label class="btn gray_outline me-2" for="danger-outlined-p">Gracz</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn gray_outline" data-bs-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-secondary" onclick="sendSettings()">Zacznij grę</button>
                </div>
            </div>
        </div>
      </div>    
</body>
<script src="/static/js/index.js"></script>
<script src="/static/js/themeMode.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</html>